.section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  padding: 0 32px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.textTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #134267;
  margin: 0;
}

.textDesc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #4f637d;
  margin: 0;
}

.prosList {
  background-color: #f8f9fc;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  list-style: none;
  margin: 0;
}

.prosItem {
  display: flex;
  gap: 12px;
}

.prosItemIcon {
  width: 16px;
  height: 16px;
  margin: 4px;
  fill: transparent;
  flex-shrink: 0;
}

.itemText {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.itemTitle {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #134267;
}

.itemSpan {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #4f637d;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button {
  border-radius: 8px;
  height: 43px;
  display: flex;
  justify-content: center;
  border-color: transparent;
  align-items: center;
  background-color: #32abf2;
  padding: 0;
  cursor: pointer;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;
}

.noShopifyButton {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #4f637d;
  padding: 0;
  border-color: transparent;
  background-color: transparent;
}

.noShopofyContainer {
  width: 100%;
}
